<h2>Fat Cats Online</h2>

<ul>
	<% @posts.each do |post| %>
		<li>
			<%= link_to post_votes_path(post, direction: "up"),  method: :post do %>
				<i class="icon-arrow-up"></i>
			<% end %>

			<%= display_url_link(post) %> </br>

			<spam> <%= post.vote_number %> </spam>
			(<%= link_to pluralize(post.comments.count, "comment" ), post_path(post) %>) </br>

			<%= link_to post_votes_path(post, direction: "down"), method: :post do %>
				<i class="icon-arrow-down"></i></a>
			<% end %>

		</li>
	<% end %>
</ul>
</br>

<h4><%= link_to "Submit a link", new_post_path %></h4>

