<h2>Post Comments</h2>

<p>
<%= link_to @post.title, @post.url %>
</P>

<p> <%= pluralize(@post.comments.count, "comment") %> </p>

<ul>
<% @post.comments.each do |comment| %>
	<li>
	<%= comment.content %>
	</li>
<% end %>
</ul>
</br>

<p>
<h4> Create a New Comment </h4>
  <%= form_for [@post, @post.comments.new] do |f| %>
     <%= f.label :content %>
     <%= f.text_area :content, rows: 5 %>
   </br>
     <%= f.submit "Submit Comment" %>
  <% end %>
</p>