<div class="row">


  <div class="span2 offset10">
  	<% if logged_in? %>
  		Welcome! <%= current_user.username %>
  		</br>
  		<%= link_to "My Page", user_path(current_user) %>
  		|
  		<%= link_to "Logout", logout_path %>
		<% else %>
			<%= link_to "Register", register_path %>
			|
			<%= link_to "Login", login_path %>
		<% end %>
  </div>
</div>

